<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/index.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>NettyTunnelingServlet</servlet-name>
		<servlet-class>org.jboss.netty.channel.socket.http.HttpTunnelingServlet</servlet-class>
		<!-- The name of the channel, this should be a registered local channel. 
			See LocalTransportRegister. -->
		<init-param>
			<param-name>endpoint</param-name>
			<param-value>local:0.0.0.0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>NettyTunnelingServlet</servlet-name>
		<url-pattern>/tunnel</url-pattern>
	</servlet-mapping>


	<!-- <context-param> <param-name>TWILIO_SID</param-name> <param-value>xxxx</param-value> 
		</context-param> <context-param> <param-name>TWILIO_TOKEN</param-name> <param-value>xx</param-value> 
		</context-param> <context-param> <param-name>TWILIO_NUMBER</param-name> <param-value>xxxx</param-value> 
		</context-param> <context-param> <param-name>APPLICATION_SID</param-name> 
		<param-value>xxxxx</param-value> </context-param> -->

</web-app>